@charset "UTF-8";
/* ////////////////////////////////////////
mixin
//////////////////////////////////////// */
/* ////////////////////////////////////////
$scss
//////////////////////////////////////// */
/* ////////////////////////////////////////
$useful
//////////////////////////////////////// */
/* ////////////////////////////////////////
$support
//////////////////////////////////////// */
/* ////////////////////////////////////////
$color
//////////////////////////////////////// */
/* ////////////////////////////////////////
$font
//////////////////////////////////////// */
/* ////////////////////////////////////////
$fs font size
//////////////////////////////////////// */
/* ////////////////////////////////////////
$layout
//////////////////////////////////////// */
/* ////////////////////////////////////////
default
//////////////////////////////////////// */
html, body {
  -webkit-text-size-adjust: none;
  font-weight: 300; }

html[lang="ja"] body {
  font-family: Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

html[lang="en"] body {
  font-family: 'Yantramanav', Arial; }

body {
  font-family: 'Yantramanav', "游ゴシック体", "Yu Gothic", Arial, sans-serif;
  color: #0b2c67;
  background-color: #fff;
  margin: 0;
   }

body.win {
  font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

body {
    animation: fadeIn 4s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

/* HTML - a -------------------------------------------- */
a {
  cursor: pointer;
  color: #0b2c67; }

a:link {
  color: #0b2c67; }

a:visited {
  color: #0b2c67; }

a:hover {
  color: #0b2c67; }

a:active {
  color: #0b2c67; }

a:focus {
  outline: none; }

.hover {
  cursor: pointer; }

/* CSS3 -------------------------------------------- */
::selection {
  background: #ccc; }

::-moz-selection {
  background: #ccc; }

/* HTML - other -------------------------------------------- */
table {
  border-collapse: collapse;
  padding: 0px;
  margin: 0px; }

ul {
  list-style: none; }

img {
  vertical-align: bottom;
  border: none; }

sup {
  vertical-align: text-top;
  padding: 0px 0.1em 0px 0.1em;
  line-height: 4px;
  font-size: 70%; }

sub {
  vertical-align: text-bottom;
  padding: 0px 0.1em 0px 0.1em;
  line-height: 4px;
  font-size: 70%; }

@-webkit-keyframes fade {
  from {
    opacity: 1; }
  to {
    opacity: 0.25; } }
@font-face {
  font-family: jl;
  src: url(../font/jl_b.ttf) format("TrueType"); }
ul {
  padding-left: 10px; }
  ul li {
    text-indent: -0.7em;
    padding-left: 1em; }

h2 {
  margin: 30px 10%;
  color: #999999;
  letter-spacing:0.2em;
  font-size: 1em;
  font-weight: 100;
   }

#cat {
  font-size: 1.5em;
  letter-spacing: 0.5em;
  padding:5%   10% 10%; 
}
#cat ul a{
  list-style: none;
  text-decoration: none;
 }
 #cat a:hover{
  color: #999999;
 }
#nav_mob_layer {
  z-index: 9;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: none;
  position: fixed;
  top: 0;
  left: 0; }
  #nav_mob_layer.mob {
    display: block;
    opacity: 0.9;
    filter: "alpha(opacity=90)";
    -ms-filter: "alpha(opacity=90)";
    -khtml-opacity: 0.9;
    -moz-opacity: 0.9; }

header {
  z-index: 10;
  background: rgba(255,255,255,0.6);
  height: 80px;
  width: 100%;
  position: fixed;
  top:0;
  left: 0;
  display: block;
  /* For modern browsers */
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }
  header a {
    text-decoration: none; }
  header h1 {
    float: left;
    margin: 20px 30px; }
  header nav {
    /* For modern browsers */
    zoom: 1;
    /* For IE 6/7 (trigger hasLayout) */
    float: right; }

   header nav a {
  position: relative;
  transition: .3s;
    }
    header nav a::after {
        position: absolute;
        bottom: -5px;
        left: 50%;
        content: '';
        width: 0;
        height: 1px;
        background-color: #999999;
        transition: .3s;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    header nav a:hover::after {
        width: 100%;
    }
    header nav:after {
      clear: both; }
    header nav ul {
      margin: 20px 0;
      /* For modern browsers */
      zoom: 1;
      /* For IE 6/7 (trigger hasLayout) */ }
      header nav ul li {
        float: left;
        padding: 0.5em 3em;
      }
        header nav ul li a {
          padding: 0 3px;
          letter-spacing: 0.2em;
          }
      header nav ul:before, header nav ul:after {
        content: "";
        display: table; }
      header nav ul:after {
        clear: both; }
  header p#lng {
    width: auto;
    margin: 39px 0;
    margin-left: 30px;
    height: 22px;
    line-height: 1em;
    float: right; }
    header p#lng a {
      border-bottom: #00f dotted 1px;
      padding: 0 3px; }
  header a#nav_btn {
    display: none;
    position: fixed;
    top: 20px;
    right: 10px;
    height: 35px;
    font-size: 2em;
    line-height: 1em; }
    header a#nav_btn:hover {
      background: #999999;
      color: #4444ff; }
  header:before, header:after {
    content: "";
    display: table; }
  header:after {
    clear: both; }
  header.narrow {
    height: 100px;
    background: rgba(255,255,255,0.6);
    top: 0px;
    left: 0px;
    }
    header.narrow nav{
      margin-top:-10px;
    }
    header.narrow nav ul {
      height: 66px;
      margin-left: 30px; }
      header.narrow nav ul li {
        float: none;
        padding: 0.2em 3em;
        display: block; }
    header.narrow p#lng {
      width: 70px;
      margin: 10px 0;
      margin-left: 30px;
      height: 44px;
      line-height: 1.5em; }
      header.narrow p#lng a {
        border-bottom: #00f dotted 1px;
        padding: 0 3px; }
      header.narrow p#lng span#divi {
        display: none; }
    header.narrow.mob{
      height: 80px;
    }
    header.narrow.mob nav, header.narrow.mob #lng {
      display: none;
      position: fixed;
      left: 0px;
      top: 110px; }
    header.narrow.mob #lng {
      top: 200px;
      left: 15px; }
    header.narrow.mob a#nav_btn {
      display: block; }
#top_log{
  text-align: center;
  margin:17em 0 8em 0;
}
#top_log img{
  width: 65%;
  height: 65%;
}
#upcom{
  margin-bottom: 10em;
}
#upcom li{
  list-style: none;
  margin: 0 10%;
  font-size: 1em;
  font-weight: normal;
}
#upcom a{
  text-decoration: none;
}
#upcom a:hover{
  color: #999999;
}
#bg_img{
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  left: 0;
  top: 0;
}
#wrapper {
  position: relative;
  padding-top: 100px;
  z-index: 5; }
  #wrapper ul li {
    line-height: 1.2em;
    padding-bottom: 10px; }
/*  #wrapper .contents {
    width: 960px; }*/
  #wrapper #works #cat ul {
    padding-left:0px;  }
  #wrapper #news {
    padding-bottom: 10px; }
  #wrapper #works a.work_wrapper {
    display: block;
    background-color: #fff;
    text-decoration: none;
    width: 960px;
    margin: 0 auto;
    padding: 10% 0;
     }
    #wrapper #works a.work_wrapper img{
      width: 50%;
    }
    h3 {
      float: left;
      margin: 0 5% 5% ;
      font-weight: normal;
      font-size: 1em;
      letter-spacing: 0.1em;
      width: 20%;
    }
    h3 p{
        text-align: right;
        margin-top: 0;
      }
    h3 span.year {
        font-size: 0.8em;
        float: right;
        color: #999999;
         }
    h3 span.tag{
          float: right;
          font-size:0.8em;
          color: #999999;
         }
    h3 span.tag p{
          margin: 0 0;
         }
    #wrapper.narrow h3{
      margin: 10px 0px;
      width: 100%;
    }
    h4 p{
      background: rgba(255,255,255,0.6);
      text-align: left;
      padding-left: 10px;
    }  
    h4 p.title{
      font-size: 2em;
    }  
    h4 p.year{
      width: 50%;
    }

  #work_info{
    margin: 0 auto;
    right: 0;
    left: 0;
    top:410px;
    width: 70%;
    z-index: 2;
    letter-spacing: 1em;
    position:absolute;
  }
  #wrapper.narrow #work_info p{
    font-size: 1.5em;
  }
  #single.contents{
    margin-top: -100px;
  }
  #wrapper #single_all{
   background: #ffffff;
  }
    #single_all #images{
      padding-top: 50px;
    }
    #single_all #images p img{
      width: 60%;
      height: 60%;
    }
    #wrapper.narrow #single_all #images p img{
      width: 80%;
      height: 80%;
    }
    #wrapper.narrow #single_all h2{
      margin: 30px 0;
      }
     #wrapper.narrow #single_archive .work p{
      text-align:left;
    }
    #single_all #images p{
    text-align: center;
  }
    #single_all #outline p.jap{
      text-align: left;
      line-height: 2em;
      letter-spacing: 0.3em;
      font-size: 0.8em;
    }
  #wrapper.narrow #single #outline {
    width: 80%;
    }

  #wrapper #single #outline {
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
    }
    #single_archive .work{
      padding: 10% 0;
    }
    #single_archive .work img{
      width: 50%;
    }
     #wrapper.narrow #single_archive{
      width: 80%;
      margin: 0 auto;
    }
    #wrapper.narrow #single_archive .work img{
      width: 100%;
    }
     #wrapper.narrow #single_archive .work h3 span{
      float: left;
    }

  #wrapper.narrow {
    padding-top: 75px;
    font-size: 0.8em; }
    #wrapper.narrow .contents {
      width: 100%; }
    #wrapper.narrow #works a.work_wrapper {
      width: 80%;
      margin: 0 auto;
      padding-top: 3em;
      }
      #wrapper.narrow #works a.work_wrapper  img {
        width: 100%;
      }
      #wrapper.narrow #works a.work_wrapper  p {
        text-align: left;
      }
      #wrapper.narrow #works a.work_wrapper  span{
        float: left;
      }
      #wrapper #about{
        height: 530px;
       }
      #wrapper #about #content{
        width: 100%;
        float: left;
      }
      #wrapper #about #designer{
        float: left;
        width: 100%;
      }
      #wrapper #about #designer ul{
        padding-left: 10%;
        margin-top: 5%;
      }
      #wrapper #about #designer p{
        text-align: left;
        width: 100%;
        font-size: 0.8em;
        padding:0 0 20px 3px;
        letter-spacing: 0.1em;
      }
      #wrapper #about #designer img{
        max-width: 100%;
      }
      #wrapper #about #designer li{
        width: 100%;
      }

      .hitori{
        float:left;
        padding: 0 50px 20px 0px;
        width: 250px;
      }
      #wrapper #about #content #post-2 .entry #about_txt{
        padding-left: 10%;
      }
      #wrapper #about #content #post-2.post .entry #about_txt  img{
        padding: 2em 0;
      }

      #wrapper #about #content #post-2.post .entry #about_txt  pre.font_2 span.color_13{
        letter-spacing: 0.1em;
      }
      #wrapper.narrow #about{
        padding: 85px 5%;
        height: 460px;
      }
      #wrapper.narrow #about #content{
        float: none;
        padding: 0;
      }
      #wrapper.narrow #about #designer{
        padding: 1%;
        width: 300px
      }
      #wrapper.narrow #about #designer ul{
        padding-left: : 7%;
      }
      #news_info{
        margin: 0 auto;
        position: absolute;
        right: 0;
        left: 0;
        top:90px;
        width: 60%;
        letter-spacing: 1em;
      }
      #single.contents .works #images {
        width: 60%;
        margin: 0 auto;
        padding-top: 240px;
      }
      #single.contents .works #images img{
        width: 100%;
        height:100%;
      }
      #wrapper.narrow #single.contents .works #news_info {
        width: 80%;
        letter-spacing: 0.5em;
      }
      #wrapper.narrow #single.contents .works #news_info p{
        font-size: 1em;
      }
      #wrapper.narrow #single.contents .works #images {
        width: 80%;
        padding-top: 180px;
      }
 
    footer {
      z-index: 1;
      color:#999999;
      font-size: 0.5em;
      width: 100%;
      margin: 4em 0 0;
      overflow: hidden;
      background: #ffffff;
    }
    footer #footer_img{
      margin: 0 auto;
       width: 120px;
    }
    footer #footer_img img{
        float: left;
        width: 120px;
    }
    footer p{
      margin-top: 0px;
      float: right;
    }
    footer:after{
        clear: both;
    }
    footer.mob{
        height: auto;
        display: block; }
    footer.mob{
        float: none;
        display: block; }
    footer.mob {
        text-decoration: none; }
    footer.mob #copy{
        margin: 0 auto;
        width: 172px;
    }
    footer.mob p{
      float: right;
      margin-top: 10px;
    }
