@charset "UTF-8";
/* ////////////////////////////////////////
mixin
//////////////////////////////////////// */
/* ////////////////////////////////////////
$scss
//////////////////////////////////////// */
/* ////////////////////////////////////////
$useful
//////////////////////////////////////// */
/* ////////////////////////////////////////
$support
//////////////////////////////////////// */
/* ////////////////////////////////////////
$color
//////////////////////////////////////// */
/* ////////////////////////////////////////
$font
//////////////////////////////////////// */
/* ////////////////////////////////////////
$fs font size
//////////////////////////////////////// */
/* ////////////////////////////////////////
$layout
//////////////////////////////////////// */
/* ////////////////////////////////////////
default
//////////////////////////////////////// */
html, body {
  -webkit-text-size-adjust: none;
  font-weight: 300; }

html[lang="ja"] body {
  font-family: Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

html[lang="en"] body {
  font-family: 'Yantramanav', Arial; }

body {
  font-family: 'Yantramanav', "游ゴシック体", "Yu Gothic", Arial, sans-serif;
  color: #0b2c67;
  background-color: #fff; }

body.win {
  font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

body {
    animation: fadeIn 4s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

/* HTML - a -------------------------------------------- */
a {
  cursor: pointer;
  color: #0b2c67; }

a:link {
  color: #0b2c67; }

a:visited {
  color: #0b2c67; }

a:hover {
  color: #0b2c67; }

a:active {
  color: #0b2c67; }

a:focus {
  outline: none; }

.hover {
  cursor: pointer; }

/* CSS3 -------------------------------------------- */
::selection {
  background: #ccc; }

::-moz-selection {
  background: #ccc; }

/* HTML - other -------------------------------------------- */
table {
  border-collapse: collapse;
  padding: 0px;
  margin: 0px; }

ul {
  list-style: none; }

img {
  vertical-align: bottom;
  border: none; }

sup {
  vertical-align: text-top;
  padding: 0px 0.1em 0px 0.1em;
  line-height: 4px;
  font-size: 70%; }

sub {
  vertical-align: text-bottom;
  padding: 0px 0.1em 0px 0.1em;
  line-height: 4px;
  font-size: 70%; }

@-webkit-keyframes fade {
  from {
    opacity: 1; }
  to {
    opacity: 0.25; } }
@font-face {
  font-family: jl;
  src: url(../font/jl_b.ttf) format("TrueType"); }
ul {
  padding-left: 10px; }
  ul li {
    text-indent: -0.7em;
    padding-left: 1em; }

h2 {
  margin: 30px 10%;
  color: #999999;
  letter-spacing:0.2em;
  font-size: 1em;
  font-weight: 100;
   }

#cat {
  font-size: 0.8em;
  padding: 10%; 
}
#cat ul a{
  list-style: none;
  text-decoration: none;
 }
#nav_mob_layer {
  z-index: 9;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: none;
  position: fixed;
  top: 0;
  left: 0; }
  #nav_mob_layer.mob {
    display: block;
    opacity: 0.9;
    filter: "alpha(opacity=90)";
    -ms-filter: "alpha(opacity=90)";
    -khtml-opacity: 0.9;
    -moz-opacity: 0.9; }

header {
  z-index: 10;
  background: rgba(255,255,255,0.6);
  height: 100px;
  width: 100%;
  position: fixed;
  top:0;
  left: 0;
  display: block;
  /* For modern browsers */
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }
  header a {
    text-decoration: none; }
  header h1 {
    float: left;
    margin: 50px 10%; }
  header nav {
    /* For modern browsers */
    zoom: 1;
    /* For IE 6/7 (trigger hasLayout) */
    float: right; }

   header nav a {
  position: relative;
  transition: .3s;
    }
    header nav a::after {
        position: absolute;
        bottom: -5px;
        left: 50%;
        content: '';
        width: 0;
        height: 1px;
        background-color: #999999;
        transition: .3s;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    header nav a:hover::after {
        width: 100%;
    }
    header nav:after {
      clear: both; }
    header nav ul {
      margin: 50px 0;
      /* For modern browsers */
      zoom: 1;
      /* For IE 6/7 (trigger hasLayout) */ }
      header nav ul li {
        float: left;
        padding: 0.5em 3em;
      }
        header nav ul li a {
          padding: 0 3px;
          letter-spacing: 0.2em;
          }
      header nav ul:before, header nav ul:after {
        content: "";
        display: table; }
      header nav ul:after {
        clear: both; }
  header p#lng {
    width: auto;
    margin: 39px 0;
    margin-left: 30px;
    height: 22px;
    line-height: 1em;
    float: right; }
    header p#lng a {
      border-bottom: #00f dotted 1px;
      padding: 0 3px; }
  header a#nav_btn {
    display: none;
    position: fixed;
    top: 50px;
    right: 10px;
    height: 35px;
    font-size: 2em;
    line-height: 1em; }
    header a#nav_btn:hover {
      background: #999999;
      color: #4444ff; }
  header:before, header:after {
    content: "";
    display: table; }
  header:after {
    clear: both; }
  header.narrow {
    height: 200px;
    background: rgba(255,255,255,0.6);
    top: 0px;
    left: 0px;
    }
    header.narrow nav ul {
      height: 66px;
      margin-left: 30px; }
      header.narrow nav ul li {
        float: none;
        display: block; }
    header.narrow p#lng {
      width: 70px;
      margin: 10px 0;
      margin-left: 30px;
      height: 44px;
      line-height: 1.5em; }
      header.narrow p#lng a {
        border-bottom: #00f dotted 1px;
        padding: 0 3px; }
      header.narrow p#lng span#divi {
        display: none; }
    header.narrow.mob{
      height: 130px;
    }
    header.narrow.mob nav, header.narrow.mob #lng {
      display: none;
      position: fixed;
      left: 0px;
      top: 110px; }
    header.narrow.mob #lng {
      top: 200px;
      left: 15px; }
    header.narrow.mob a#nav_btn {
      display: block; }
#top_log{
  text-align: center;
  margin:9em 0 8em 0;
}
#top_log img{
  width: 65%;
  height: 65%;
}
#upcom{
  margin-bottom: 10em;
}
#upcom li{
  list-style: none;
  margin: 0 10%;
  font-size: 1em;
  font-weight: normal;
}
#upcom a{
  text-decoration: none;
}
#bg_img{
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
}
#wrapper {
  position: relative;
  padding-top: 100px;
  z-index: 5; }
  #wrapper ul li {
    line-height: 1.2em;
    padding-bottom: 10px; }
  #wrapper .contents {
    width: 960px; }
  #wrapper #news {
    padding-bottom: 10px; }
  #wrapper #works a.work_wrapper {
    display: block;
    background-color: #fff;
    text-decoration: none;
    width: 960px;
    margin: 8em 4em;
     }
    #wrapper #works a.work_wrapper img{
      max-width: 50%;
    }
    #wrapper #works a.work_wrapper h3 {
      float: left;
      margin: 0 10% 5% ;
      font-weight: normal;
      font-size: 1em;
      letter-spacing: 0.1em;
      min-width: 28%;
      max-width: 30%;
    }
      #wrapper #works a.work_wrapper h3 p{
        text-align: right;
        margin-top: 0;
      }
      #wrapper #works a.work_wrapper h3 span.year {
        font-size: 0.8em;
        float: right;
        color: #999999;
         }
      #wrapper #works a.work_wrapper h3 span.tag{
          text-align: right;
          font-size:0.8em;
          color: #999999;
         }
      #wrapper #works a.work_wrapper h3 span.tag p{
          margin: 0 0;
         }
  #wrapper #single #images img {
    padding-bottom: 5px; }
  #wrapper.narrow {
    padding-top: 75px;
    font-size: 0.8em; }
    #wrapper.narrow .contents {
      width: 100%; }
    #wrapper.narrow #works a.work_wrapper {
      width: 88%;
      margin: 0px;
      padding-top: 3em;
      }
      #wrapper.narrow #works a.work_wrapper  img {
        min-width: 80%;
        padding-left: 10%;
      }
      #wrapper.narrow #works a.work_wrapper  p {
        text-align: left;
      }
      #wrapper.narrow #works a.work_wrapper  span.year {
        float: left;
      }
      #wrapper #about{
        height: 530px;
       }
      #wrapper #about #content{
        width: 50%;
        padding-left: 5%;
        float: left;
      }
      #wrapper #about #designer{
        float: left;
        padding-left: 10%;
      }
      #wrapper #about #designer ul{
        padding-left: 10%;
        margin-top: 35%;
        width:150px;
      }
      #wrapper #about #designer li{
        width: 100%;
      }
      #wrapper #about #content #post-2 .entry h2{
        margin: : 30px 0;
      }
      #wrapper #about #content #post-2 .entry #about_txt{
        padding-left: 10%;
      }
      #wrapper #about #content #post-2.post .entry #about_txt  img{
        padding: 2em 0;
      }

      #wrapper #about #content #post-2.post .entry #about_txt  pre.font_2 span.color_13{
        letter-spacing: 0.1em;
      }
      #wrapper.narrow #about{
        padding: 85px 5%;
        height: 460px;
      }
      #wrapper.narrow #about #content{
        float: none;
        padding: 0;
      }
      #wrapper.narrow #about #designer{
        padding: 1%;
      }
      #wrapper.narrow #about #designer ul{
        padding-left: : 7%;
      }

    footer {
      z-index: 1;
      color:#999999;
      font-size: 0.5em;
      width: 100%;
      margin: 4em 0 0;
      overflow: hidden;
    }
    footer #footer_img{
      margin: 0 auto;
       width: 120px;
    }
    footer #footer_img img{
        float: left;
        width: 120px;
    }
    footer p{
      margin-top: 0px;
      float: right;
    }
    footer:after{
        clear: both;
    }
    footer.mob{
        height: auto;
        display: block; }
    footer.mob{
        float: none;
        display: block; }
    footer.mob {
        text-decoration: none; }
    footer.mob #copy{
        margin: 0 auto;
        width: 172px;
    }
    footer.mob p{
      float: right;
      margin-top: 10px;
    }
